#<VirtualHost *:80>	:
#	ServerAdmin zhuol@localhost
#	DocumentRoot /var/www
#	ServerName zhubuntu14.spidynamics.com
#	#SSLEngine off
#	#SSLVerifyClient off
#</VirtualHost>

#Listening ports Added
listen 12345
listen 12346
listen 12347
listen 12348
listen 12349
listen 12350
listen 12351
listen 12352
listen 12353
listen 12354
listen 12355
listen 12356
listen 12357
listen 12358
listen 12359
listen 12360

<VirtualHost zhubuntu14.spidynamics.com:443>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_des3.key
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12345>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/DES_RSA_X509V1_SHA256
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_des3.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12346>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/DES_RSA_X509V1_MD5
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_des3.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12347>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/DES_DSA_X509V1_SHA256
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_des3.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12348>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/DES_DSA_X509V1_MD5
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_des3.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12349>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_RSA_X509V1_SHA256
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12350>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_RSA_X509V1_MD5
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12351>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_DSA_X509V1_SHA256
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12352>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_DSA_X509V1_MD5
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_aes.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12353>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_DSA_X509V1_SHA256
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_des3.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12354>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_DSA_X509V1_MD5
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_des3.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12355>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/DES_DSA_X509V3_SHA256
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_des3.crt
</VirtualHost>

<VirtualHost zhubuntu14.spidynamics.com:12356>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/DES_DSA_X509V3_MD5
	ServerName zhubuntu14.spidynamics.com
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_des3.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_des3.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_des3.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12357>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_RSA_X509V3_SHA256
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12358>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_RSA_X509V3_MD5
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_rsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12359>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_DSA_X509V3_SHA256
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:12360>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/AES_DSA_X509V3_MD5
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient optional
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_dsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_dsa_aes.key
	SSLCACertificateFile /var/www/certs/ClientGenerator/ca_dsa_aes.crt
</VirtualHost>

<VirtualHost 172.16.10.125:443>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www/html3
	ServerName 172.16.10.125
	SSLEngine On	
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/certs/ClientGenerator/server_rsa_aes.crt
	SSLCertificateKeyFile /var/www/certs/ClientGenerator/server_rsa_aes.key
</VirtualHost>
