#<VirtualHost *:80>	
#	ServerAdmin zhuol@localhost
#	DocumentRoot /var/www
#	ServerName zhubuntu14.spidynamics.com
#	#SSLEngine off
#	#SSLVerifyClient off
#</VirtualHost>

<VirtualHost *:443>	
	ServerAdmin zhuol@localhost
	DocumentRoot /var/www
	ServerName 172.16.10.125
	SSLEngine On
	SSLVerifyClient require
	SSLVerifyDepth 1
	SSLCertificateFile /var/www/html/certs/client.crt
	SSLCertificateKeyFile /var/www/html/certs/client.key
</VirtualHost>

#<VirtualHost *:443>	
#	ServerAdmin zhuol@localhost
#	DocumentRoot /var/www/html2
#	ServerName zhubuntu14.spidynamics.com
#	SSLEngine On	
#	SSLVerifyClient require
#	SSLVerifyDepth 1
#	SSLCertificateFile /var/www/html2/certs/server.crt
#	SSLCertificateKeyFile /var/www/html2/certs/server.key
#</VirtualHost>
