# HTTPS server
#
server {
	listen 443;
	server_name localhost;
	
	#ssi on;
	#ssi_silent_errors on;	
	#ssi_types text/shtml;
	
	ssl on;
	ssl_certificate /etc/nginx/certs/server.crt;
	ssl_certificate_key /etc/nginx/certs/server.key;
	ssl_client_certificate /etc/nginx/certs/ca.crt;
	ssl_verify_client on;

	#ssl_session_timeout 5m;

	#ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
	#ssl_ciphers ALL:!aNULL;
	#ssl_prefer_server_ciphers on;

	location / {
		root /var/www;
		index index.html;
	}
}
